* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}

a:link, a:visited {
  background-color: none;
  color: black;
  padding: 14px 25px;
  position: left;
  text-decoration: none;
  display: inline-block;
}

a:hover {
  font-size: 28px;
}
a:active {
  background-color: yellow;
}


.banner {
  width: 100%;
  height: 237px;
  background: url("../images/banner.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
  color: #FBAA87;
  z-index: 1;
}

#logo {
  width: 198px;
  height: 187px;
  background: url("../images/logo.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  position: absolute;
  top: 50px;
  left: 38px;
  border-top-left-radius: 46px;
  border-top-right-radius: 46px;
  border-bottom-left-radius: 46px;
  border-bottom-right-radius: 46px;
  overflow: hidden;
  z-index: 3;
  border: none;
  }
  #logo:hover{
    opacity: 50%;
  }



.v2_21 {
  width: 100%;
  height: 68px;
  background: rgba(255,102,36,1);
  opacity: 1;
  position: absolute;
  top: 956px;
  left: 0px;
}

.UPVTitle2 {
  width: 399px;
  color: white;
  position: absolute;
  top: 26px;
  left: 65px;
  font-family: 'Exo';
  font-weight: Regular;
  font-size: 24px;
  transform: translate(1000px, 0px);
  z-index: 2;
}

.mission{
  width: 250px;
  color: rgba(5,5,5,1);
  position: absolute;
  top: 318px;
  left: 1156px;
  font-family: 'Exo 2';
  font-weight: Medium;
  font-size: 40px;
  opacity: 1;
  text-align: center;
  transform: translate(-50px, 220px);
}

.v29_400 {
  width: 100%;
  height: 1024px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}

.v29_407 {
  width: 100%;
  height: 68px;
  background: rgba(255,102,36,1);
  opacity: 1;
  position: absolute;
  top: 956px;
  left: 0px;
}
.copyright {
  width: 100%;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 980px;
  left: 110px;
  font-family: 'Exo';
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: center;
}

.v32_74 {
  width: 61px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 260px;
  left: 874px;
  font-family: 'Exo';
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v32_75 {
  width: 73px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 260px;
  left: 1003px;
  font-family: 'Exo';
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v32_78 {
  width: 112px;
  height: 36px;
  background: rgba(217,217,217,1);
  opacity: 1;
  position: absolute;
  top: 257px;
  left: 1288px;
  overflow: hidden;
}
.v32_79 {
  width: 97px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 260px;
  left: 1138px;
  font-family: 'Exo';
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}

.v32_76 {
  width: 102px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 260px;
  left: 1297px;
  font-family: 'Exo';
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v32_84 {
  width: 112px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 853px;
  left: 702px;
  font-family: 'Exo 2';
  font-weight: Medium;
  font-size: 36px;
  opacity: 1;
  text-align: center;
}
.v60_114 {
  width: 764px;
  height: 410px;
  background: url("../images/v60_114.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 318px;
  left: 57px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  overflow: hidden;
}
.v60_120 {
  width: 206px;
  height: 112px;
  background: url("../images/v60_120.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 752px;
  left: 57px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  overflow: hidden;
}
.v60_116 {
  width: 198px;
  height: 118px;
  background: url("../images/v60_116.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 746px;
  left: 623px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  overflow: hidden;
}

.missionds {
  width: 417px;
  color: rgba(5,5,5,1);
  position: absolute;
transform: translate(1000px, 350px);
  font-family: 'Exo 2';
  font-weight: Medium;
  font-size: 13px;
  opacity: 1;
  text-align: center;
}
.visionds {
  width: 384px;
  color: rgba(5,5,5,1);
  position: absolute;
  transform: translate(1020px, 520px);
  font-family: 'Exo 2';
  font-weight: Medium;
  font-size: 13px;
  opacity: 1;
  text-align: center;
}
.ourstoryds {
  width: 417px;
  color: rgba(5,5,5,1);
  position: absolute;
  font-family: 'Exo 2';
  font-weight: Medium;
  font-size: 13px;
  opacity: 1;
  text-align: center;
  transform: translate(1000px, 150px);
}

.vision {
  position: absolute;
  width: 250px;
  color: rgba(5,5,5,1);
  font-family: 'Exo 2';
  font-weight: Medium;
  font-size: 40px;
  opacity: 1;
  text-align: center;
    transform: translate(1100px, 460px);
}
.ourstory {
  width: 250px;
  color: rgba(5,5,5,1);
  position: absolute;
 transform: translate(1100px, 100px);
  font-family: 'Exo 2';
  font-weight: Medium;
  font-size: 40px;
  opacity: 1;
  text-align: center;
}
.v32_73 {
  width: 198px;
  height: 187px;
  background: url("../images/v32_73.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 50px;
  left: 38px;
  border-top-left-radius: 46px;
  border-top-right-radius: 46px;
  border-bottom-left-radius: 46px;
  border-bottom-right-radius: 46px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.v32_77 {
  width: 399px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 26px;
  left: 1003px;
  font-family: 'Exo';
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v60_118 {
  width: 205px;
  height: 118px;
  background: url("../images/v60_118.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 747px;
  left: 336px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  overflow: hidden;
}

.voter { 
  color:rgba(0, 0, 0, 1);
  width:80px;
  height:32px;
  position:absolute;
  left:874px;
  top:268px;
  font-family:'Exo';
  text-align:center;
  font-size:25px;
  letter-spacing:0;
  border: none;
  background-color: transparent;
  cursor: pointer;
  }
  .voter:hover {
    transform: scale(1.05);
    font-size: 28px;
    opacity: 50%;
  }
.admin { 
  color:rgba(0, 0, 0, 1);
  width:90px;
  height:32px;
  position:absolute;
  left:1003px;
  top:268px;
  font-family: 'Exo';
  text-align:center;
  letter-spacing:0;
  border: none;
  background-color: transparent;
  cursor: pointer;
  font-size: 25px;
  }
  .admin:hover {
    transform: scale(1.05);
    font-size: 28px;
    opacity: 50%;

  }
.about_us { 
  color:rgba(0, 0, 0, 1);
  width:110px;
  height:32px;
  position:absolute;
  left:1350px;
  top:268px;
  white-space: nowrap;
  font-family: 'Exo';
  text-align:center;
  font-size:25px;
  letter-spacing:0;
  border: none;
  background-color: transparent;
  cursor: pointer;
  }
  .about_us:hover {
    transform: scale(1.05);
    font-size: 28px;
    opacity: 50%;
  }
.contacts_nav { 
  color:rgba(0, 0, 0, 1);
  width:110px;
  height:32px;
  position:absolute;
  left:1190px;
  top:269px;
  font-family: 'Exo';
  text-align:center;
  font-size:25px;
  letter-spacing:0;
  border: none;
  cursor: pointer;
  background-color: transparent;
  }
  .contacts_nav:hover {
    transform: scale(1.05);
    font-size: 28px;
    opacity: 50%;

  }