* {
  box-sizing: border-box;
}


.screen a {
  display: contents;
  text-decoration: none;
}

.container-center-horizontal {
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-family: "Exo", Verdana, sans-serif;
  width: 100%;
  pointer-events: none;
}

.container-center-horizontal > * {
  flex-shrink: 0;
  pointer-events: auto;
}


