body {
  background-image: url('final.jpeg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed; 
}




h1 {
    text-align: center;
}

form {
    margin: 20px 0;
    text-align: center;
}

label {
    display: block;
    margin-bottom: 10px;
    color: black;
}

input[type="text"],
input[type="number"],
input[type="email"],
input[type="search"] {
    width: 200px;
    padding: 5px;
    border: 1px solid #black;
    background-color: transparent;
    color: #fff;
}

input[type="submit"] {
    padding: 8px 16px;
    border: none;
    background-color: #fff;
    color: #000;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #ddd;
}

img {
    display: block;
    width: 100px;
    height: 100px;
    margin: 0 auto;
}