.vote_body{
  width: 100%;
  display: flex;
}

.sidebar {
  text-align: center;
  width: 30%;
  min-height: 500px;
  display: flex;
  flex-direction: column;
  background-color: rgb(163 49 30);
  align-items: center;
  justify-content: space-around;
  padding: 30px;
}

.sidebar button {
  width: 100%;
  background-color: rgb(255 197 72);
  color: rgb(163 49 30);
  opacity: 0.9;
  text-align: center;
  font-size: 30px;
  border-radius: 25px;
  border: none;
  margin: 5px;
  padding: 20px 30px;
}

.sidebar button:hover{
  opacity: 1;
  border-radius: 30px;
}

.user{
  width: 100%;
  display: flex;
  flex-direction: row;
  color: rgb(255 197 72);
  justify-content: center;
  align-items: center;
}

.user *{
  margin: 0px 10px;
}

.user img {
  width: 20px;
  height: 20px;
}

.vote_candidates{
  text-align: center;
  width: 70%;
  display: flex;
  margin: 0 auto;
  flex-direction: column;
  align-items: center;
}

.content{
  display: flex;
  width: 100%;
}

.vote_candidates{
  width: 50%;
  display: flex;
  margin: 0 auto;
  flex-direction: column;
  align-items: center;
  background-image: url(redbolts.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.vote_candidates button{
  color: rgb(163 49 30);
  background-color: rgb(255 197 72);
  padding: 5px 10px;
  margin: 0px 10px;
  text-align: center;
  border-radius: 10px;
  border: 0px;
  cursor: pointer;
  
}

.settings_display{
  width: 90%;
  display: flex;
  flex-direction: column;
  text-align: left;
  margin: 1.5% 2.5%;
}

.settings_display p{
  margin: 1%;
}

#highlight{
  font-weight: bold;
  font-size: x-large;
}

.cand_yr{
  width: 100%;
  display: flex;
  justify-content: center;
}

.cand_name span{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.results{
  width: 65%;
  height: 100%;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
}

.scores{
  width: 100%;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
}

.resultExit{
  width: 100%;
}

#return{
  float: right;
  margin: 10px 40px 0px 0px;
}

.positions{
  width: 100%;
}

.positions select{
  padding: 0px;
  font-size: 20px;
  text-align: center;
  border: none;
}

.resultGraph{
  width: 90%;
  height: 500px;
  margin: 20px 0px;
}

.resultGraph h3{
  color: #000000;
}

.adminReset{
  width: 100%;
}

#reset{
  background-color: #000000;
  color: #ffffff;
}

.footer {
  background-color: rgb(255 197 72);
}

